.lollipops {
  max-width: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;

  &__item {
    font-size: 10px;
    cursor: default;
  }
}

@media screen and (max-width: 1175px) {
  .lollipops {
    flex-direction: column;
  }
}
