@import "../variables";

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 50px;
  margin-bottom: 80px;
  width: 100vw;
  overflow-x: hidden;

  .section-title::after {
    content: "portfolio"
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 30px);
    height: calc(100vw - 30px);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: $color-grey-dark;
    opacity: 0;
    transition: opacity 1s;

    &_visible {
      opacity: 1;
    }

    &__image {
      display: block;
      transform: translate(35%, 35%) scale(1.5);
      opacity: .4;
      transition: transform .5s;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__title {
      text-decoration: none;
      box-sizing: border-box;
      border-bottom: 1px solid $color-white;
      padding-bottom: 3px;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 1.5px;
      border-color: $color-yellow;
      color: $color-yellow;
    }

    &__description {
      color: $color-white;
    }

    .lollipops {
      position: absolute;
      top: 8%;
      right: 5%;
    }
  }
}
