@import "../variables";

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  background-color: $color-grey-dark;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    box-sizing: border-box;
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    background-color: $color-grey-light;
    transition: background-color .3s;

    &_active {
      background-color: $color-yellow;
    }

    svg {
      height: 50%;
      fill: $color-white;
    }
  }
}
