@import "../variables";

.navigation {
  left: calc(100% - 56px);
  width: initial;
  height: 100%;
  background-color: transparent;

  &__list {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    width: 40px;
    height: 40px;
    cursor: pointer;

    svg {
      height: 40%;
    }

    &:hover {
      background-color: $color-yellow;
    }
  }
}
