.section-title {
  font-size: 54px;
  text-align: center;

  &::after {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 110px;
    text-align: center;
    transform: translateY(-25%);
  }
}

.title {
  font-size: 26px;
}