$color-black: #111;
$color-white: #fff;
$color-grey: #252525;
$color-grey-light: #444;
$color-grey-dark: #2b2a2a;
$color-grey-white: #d0d0d0;
$color-milk: #d8d8d8;
$color-yellow: #ffb400;
$color-mockito: #6ea61f;
