.skills {

  &__list {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
    max-height: 100%;

    &::before, &::after {
      display: none;
    }
  }

  &__item {
    gap: 20px;
    font-size: 16px;
    opacity: 1;

    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16),
    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21),
    &:nth-child(22),
    &:nth-child(23) {
      display: flex;
      opacity: 1;
    }
  }
  
  &__button {
    display: none;
  }
}