@import "../variables";

.skills {

  &__ficha {
    display: grid;
    grid-template-rows: 320px;
    width: 100%;
    transition: grid-template-rows 2s;

    &:hover {
      grid-template-rows: 1fr;
    }

    &_active {
      grid-template-rows: 1fr;
    }

    .skills__list {
      overflow: hidden;
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0fr;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    width: 100%;
    transition: grid-template-rows 1s;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: linear-gradient(to top, $color-black 0%, transparent 100%);
    }

    &_active {
      grid-template-rows: 1fr;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-weight: 300;
    text-transform: uppercase;

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 96px;
      box-sizing: border-box;
      border-radius: 50%;
      background: radial-gradient(closest-side, $color-black 85%, transparent 86%, transparent 100%),
      conic-gradient($color-yellow 75%, $color-grey 0);
      font-size: 14px;
      font-weight: 600;

      img {
        width: 40%;
      }
    }
  }

  &__button {
    margin: 40px 0;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-yellow;
  }
}
